.chat-container {
    background-color: var(--default-blue-color);
    padding: 20px;
    margin: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.chat-container .chat-screen {
    display: flex;
    flex-direction: column;
    height: 80vh;
    background-color: #FFFFFF;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 10px;
    border-bottom: 2px solid var(--default-blue-color);
    overflow: auto;
}

.chat-container .chat-screen .file-content {
    margin: 5px 0;
}

.chat-container .chat-screen .file-content a {
    text-decoration: none;
    color: unset;
}

.chat-container .chat-screen .message-content {
    display: flex;
    flex-direction: column;
    background-color: var(--default-blue-color);
    width: fit-content;
    padding: 8px;
    border-radius: 6px;
    color: #FFFFFF;
    max-width: 500px;
    float: left;
    margin: 5px 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.chat-container .chat-screen .message-content .username-display {
    color: var(--default-yellow-color);
    font-weight: bold;
}

.chat-container .chat-screen .message-content .message-display {
    font-size: 0.9rem;
    margin: 4px 0;
}

.chat-container .chat-screen .message-content .time-display {
    text-align: end;
    font-size: 0.8rem;
}

.chat-container .chat-tools {
    background-color: #FFFFFF;
    padding: 10px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.chat-container .chat-tools form {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--default-blue-color);
}

.chat-container .chat-tools form .input-field {
    margin: 0 5px;
}

.chat-container .chat-tools form .file-field label {
    cursor: pointer;
}

.chat-container .chat-tools form .file-field input {
    display: none;
}

.chat-container .chat-tools form .emoji-field button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1rem;
    color: inherit;
}

.chat-container .chat-tools form .message-field, input {
    width: 100%;
}

.chat-container .chat-tools form .message-field input {
    padding: 5px;
    border: none;
    outline: none;
}

.chat-container .chat-tools form .submit-field button {
    border: none;
    cursor: pointer;
    background-color: var(--default-blue-color);
    color: #FFFFFF;
    padding: 5px 15px;
    border-radius: 4px;
}

@media screen and (max-width: 968px) {
    .chat-container .chat-screen .message-block .username {
        font-size: 0.9rem;
    }

    .chat-container .chat-screen .message-block .message {
        font-size: 0.8rem;
    }
    
    .chat-container .chat-screen .message-block .time {
        text-align: end;
        font-size: 0.7rem;
    }
}