section {
    margin: 25px 0;
}

section h2 {
    color: var(--default-blue-color);
    margin: 20px 0;
}

section p {
    margin: 8px 0;
}

section ul {
    margin: 0 20px;
}

section ul li {
    margin: 10px 0;
}